<html>
	<head>
		<link rel='stylesheet' href="{{static_url('css.css')}}" type='text/css'>
		<link rel='stylesheet' href="../static/css.css" type='text/css'>
		<script type="text/javascript" src="../static/nicEdit.js"></script>
		<script type="text/javascript" src="../static/jquery.js"></script>
		<script type="text/javascript" src="../static/edit.js"></script>
	</head>
	<div>
	<body>
		<div class='postbody'>
			<div class='topbar'>
				<a  href='/quit'>退出</a>
			</div>
				<div class='wrap'>
					<div class='menubar'>
						<ul>
							<a href='/blog'><li>发表文章</li></a>
							<a href='/edit-cat'><li>分类目录</li></a>
							<a href='#'><li>发表文章</li></a>
							<a href='#'><li>发表文章</li></a>

						</ul>
					</div>
					<div class='main-content' >	
						<form method='post'>
							{%block postbody-content %}
								<div class='postbody-content'>
									<div class='titlediv'>
										<h2>撰写新文章</h2>
										<input id='post-title' class='title' type='text' name='title' autocomplete='off' placeholder='在此输入标题'  onblur='ShowIt()'>
										<div class='edit-slug'>
											<strong>固定链接</strong>
											<span class='post-url'></span>

											<span><a class='btn-url-edit'  >编辑</a></span>
										</div>
									</div>

									<div class='context'>
										
										 <script type="text/javascript">
											//<![CDATA[
	        								bkLib.onDomLoaded(function() { 
	        									new nicEditor({iconsPath : '../static/nicEditorIcons.gif',fullPanel:true}).panelInstance('context');



	        									 });

	  													//]]>
	  										</script>
										<textarea name='context' id='context' ></textarea>
									</div>
								cat:<input type='text' name='cat'>
								
								cat_url:<input type='text' name='cat_url'>
								author:<input type='text' name='author'>
								

								</div>
							{%end%}
							<div class='post-box'>
								<div class='post-box-stuff'>
									<div class='title'>
										发布
									</div>
									<div >
										<input type='submit' value='发布'>
									</div>
								</div>
							<div class='post-box-stuff'>
								<div class='title'>
										分类目录
								</div>
								<div >
									<ul>
										<li>
											<label>
												<input value="1" type="checkbox" name="post_category[]" id="in-category-1"> 未分类
											</label>
										</li>
										<li>
											<label>
												<input value="2" type="checkbox"  name="post_category[]" id="in-category-1"> 有分类很长的分类
											</label>
									</li>
									</ul>
								</div>
							</div>
							</div>
						</form>
					</div>
				</div>
		</div>
	</body>
</html>