<html>
	<head>
		<!--<link rel='stylesheet' href='{{ static_url("css.css") }}' type='text/css'/>-->
		<link rel='stylesheet' href='../static/css.css' type='text/css'/>
	</head>
	<body>
		<div class='header'>
			对讲机|公网对讲机|广州德亨信息技术有限公司
		</div>
		<div class='nav'>
			
			<ul class='menu'>
				<li class='index'>
					<a href="#">主页</a></li>
				<li class='menuitem'><a href="#">新闻中心</a></li>
				<li class='menuitem'><a href="#">产品中心</a></li>
				<li class='menuitem'><a href="#">关于我们</a></li>
				<li class='menuitem'><a href="#">公司介绍</a></li>
				<li class='menuitem'><a href="#">联系我们</a></li>

			</ul>
		</div>
		<div class='container'>
			<div class='content'>
			{%for row in passage%}
				<div class='post'>
					<div class='post-head'>
						<h1 class='post-title'><a href="{{row['url']}}">{{row['title']}}</a></h1>
						<div class='post-meta'><span>{{row['author']}} Date:{{row['p_date']}}</span></div>
					</div>
					<div class='post-content'>
						<p>{{row['content']}} </p>

					</div>
					<div class='permalink'>
						<a href="{{row['url']}}" class="btn-default btn-red">阅读全文</a>
					</div>
					<div class='post-cat'>
						<a href="{{row['cat_url']}}">{{row['cat']}}</a>
					</div>
					
				</div>
			{%end%}
				<div class='page'>
					<span class='page-number'>第1页/共4页</span>
					<a href='#' class='older-posts'><i>></i></a>
				</div>


			</div>

			<div class='sidebar'>
				<div class='widget'>
					<div class='widget-title'>
						This is title
					</div>
					<div class='widget-content'>
						widget content
					</div>
				</div>
			</div>
		</div>
		<div class='footer'>
		</div>
	</body>
</html>