
<html>
	<head>
		<link rel='stylesheet' href="{{static_url('css.css')}}" type='text/css'/>
		<link rel='stylesheet' href='../static/css.css' type='text/css'/>
		 {% block header %}
		<script type="text/javascript" src="../static/jquery.js"></script>
		
		{% end %}
	</head>
	<body>
		{%module headernav()%}
		<div class='container'>
			
			<div class='content'>
				{%block content%}

					{%module entry(passage)%}
					{%module nav(pages,page)%}

				{%end%}
			</div>
			
			{%module sidebar()%}

		</div>
		<div class='footer'>
		</div>
	</body>
</html>