<html>
	<head>
		<link rel='stylesheet' href='../static/css.css' type='text/css'>
		<link rel='stylesheet' href="{{static_url('css.css')}}" type='text/css'/>
		<script type="text/javascript" src="{{static_url('jquery.js')}}"></script>
		<script type="text/javascript" src="{{static_url('login.js')}}"></script>
	
	</head>
	<body>

	<div class='login'>

	<div class='logo'>
		<a href=''></a>
	</div>
	<form method='post' class='login-info'>
		
		<p>
			<label for='username'>
			用户名
			<br>
			<input type='text' name='username' id='username' autocomplete='off'>
			</label>
		</p>
		<p>
			<label for='passwd'>
			密码
			<br>
			<input type='password' name='passwd' id='passwd'>
			</label>
		</p>
	
		<p class='rem'>
			<label for='remember'>
			
			<input type='checkbox' name='remember' id='remember' value='forever'>
			记住我的登录信息
			</label>
		</p>
		<p class='submit'>
			<input type='button' name='submit' class='btn-default btn-blue' value='登录'>
		</p>
	</form>
	</div>
	</body>
</html>